MYSQL_HOST=mariadb
MYSQL_DATABASE=your_database_name
MYSQL_USER=your_username
MYSQL_PASSWORD=your_password
MYSQL_ROOT_PASSWORD=your_root_password

APP_PORT=8086
DB_PORT=33306

# Use explicit values
USERID=1000
GROUPID=1000
